/* navbar */


.glyphiconheader {
    font-size: 20px;
    color: white;
}

.navbar-default {
    background-color: #39BA9B;
}

.navbar-default .navbar-brand {
    color: white;
}

/* navbar end*/






.left {
    background-color: #343434;
}

.heading {
     padding-left: 16px;
}

.form-control.inputfield {
    margin-bottom:12px;
}

.form-control.messagefield {
    margin-bottom:30px;
}

.uploadbutton {
    width: 160px !important;
    margin-top: 32px;
}

/* left column */

.leftcolumn{
   background-color: #343434; 
   margin-top: -25px;
   height:100vh;
   padding-left: 0px;
   
   
}

.unorderedl {
    color: #8F8F8F;
    list-style-type: none;
}

.unorderedl li {
    padding-top: 23px;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
}

.unorderedl li a {
    color: #8F8F8F;
    text-decoration: none;
}

.eng {
    margin-top: 100%;
    margin-left: 13%;
}



.eng p a {
    color: #8F8F8F;
    text-decoration: none;
}

/* left column end*/




body {
    font-family: "Open Sans";
}

.middlecolumn {
    padding-left: 25px;
}

.top {
    margin-top: 40px;
    margin-left: 30px;
}



.topright {
    text-align: center;
    padding-top: 40px;
}

.topright p {
    font-size: 50px;
}

.bottomright {
    background-color: #6E6D72;
    height: 80vh;
}

.formleft {
    padding-left: 2%;
    padding-right: 2%;
}

.formright {
    padding-right: 2%;
    padding-left: 2%;
}

.search {
    background-color: #39BA9B;
}

.searchicon {
    color:white;
}

textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: white !important;
}

.navbar-header {

}


.edit {
    float: right;
    padding-top: 12px;
    padding-right:20px;
    text-align: center;
}

.editglyphicon {
    font-size: 20px;
    color: #39BA9B;
}

.edit p {
    font-size: 14px;
    color: #39BA9B;
}