.glyphiconheader {
    font-size: 20px;
    color: white;
}

.navbar-default {
    background-color: #39BA9B;
}

.navbar-default .navbar-brand {
    color: white;
}

.left {
    background-color: #343434;
}

.heading {
     padding-left: 16px;
}

.form-control.inputfield {
    margin-bottom:12px;
}

.form-control.messagefield {
    margin-bottom:30px;
}

.uploadbutton {
    width: 160px !important;
    margin-top: 32px;
}

.leftcolumn{
   background-color: #343434; 
   margin-top: -25px;
   height:100vh;
}

.unorderedl {
    color: #8F8F8F;
    list-style-type: none;
}

.unorderedl li {
    padding-top: 23px;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
}

.unorderedl li a {
    color: #8F8F8F;
    text-decoration: none;
}

body {
    font-family: "Open Sans";
}

.middlecolumn {
    padding-left: 25px;
}

.top {
    margin-top: 40px;
    margin-left: 30px;
}

.eng {
    margin-top: 100%;
    margin-left: 13%;
}



.eng p a {
    color: #8F8F8F;
    text-decoration: none;
}


.topright {
    text-align: center;
    padding-top: 40px;
}

.topright p {
    font-size: 50px;
}

.bottomright {
    background-color: #6E6D72;
    height: 85vh;
}