<h1>Add a product</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          asdasdasd
      </div>
      <div class="col-md-6">
          asfasfasf
      </div>
    </div>     
  </div>